@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: normal;
  src: local('PT Serif'), local('PTSerif-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptserif/v3/zjBCKJs0bE-LvM0teIV5VPesZW2xOQ-xsNqO47m55DA.woff') format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url('http://themes.googleusercontent.com/static/fonts/ptserif/v3/QABk9IxT-LFTJ_dQzv7xpGOb2gHztoQeulij-1lvl-8.woff') format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: normal;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url('http://themes.googleusercontent.com/static/fonts/ptserif/v3/3Nwg9VzlwLXPq3fNKwVRMBsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v2/yrzXiAvgeQQdopyG8QSg8Q.woff') format('woff');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126 */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0; }

/* common elements */
* { box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; }

pre, code { font-family: monospace; white-space: pre-wrap; }
pre { margin: 16px 0; }
sup, sub { vertical-align: middle; position: relative; font-size: 75%; }
sup { bottom: 0.5em; }
sub { top: 0.5em; }

strong, b, h3, h4 { font-weight: bold; }
em, i { font-style: italic }
h1, h2, h3, h4, h5 { margin: 1.5em 0 0.5em 0em }
h1 { font-size: 32px; line-height: 1.2em; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }


h1 a, h2 a, h3 a { color: #269; text-decoration: none; border: none; }
h1 a:visited, h2 a:visited, h3 a:visited { color: #257; }
h1 a:hover, h2 a:hover, h3 a:hover { color: #c33; }
a { text-decoration: none; }
a > img { vertical-align: bottom; }
ol, ul { margin: 0 0 0 2em; }
ol { list-style-type: decimal }
ul { list-style-type: square }
p { margin: 1em 0; }
/*blockquote { margin: 1em 2em; font-style: italic; }*/
/*blockquote i, blockquote em { font-style: normal; }*/
blockquote { 
  padding: 12px 88px; margin: 12px -64px; 
  color: #333;
  border-top: 1px solid #CCC; border-bottom: 1px solid  #CCC;
  background-color: #eee;
  background-image: url(q1.gif), url(q2.gif);
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat;
}

/* layout */
body { font: 16px/24px 'PT Serif', Cambria, serif; background: #ccc url(body.png); }
#page { width: 754px; margin: 0 auto; }

/* head */
.head { margin: 32px 0 32px 20px; height: 100px; text-align: left; }
.head__logo { display: inline-block; width: 250px; height: 100px; background: url(head.png); }
.head__links { float: right; height: 100px; }
.head__blog, .head__jobs, .head__rss {
  background: url(head.png);
  display: inline-block; height: 60px; margin: 30px 10px 10px;
  font: 18px/45px 'PT Sans', sans-serif; color: #000;
  text-align: center; vertical-align: middle; border-radius: 6px; }
.head__blog { width: 100px; background-position: -250px 0;}
.head__blog:hover, .head__blog_selected { background-position: -250px -60px; }
.head__jobs { width: 140px; background-position: -350px 0;}
.head__jobs:hover, .head__jobs_selected { background-position: -350px -60px; }
.head__rss { width: 60px; background-position: -490px 0;}
.head__rss:hover, .head__ress_selected { background-position: -490px -60px; }

/* post */

.post { padding: 24px 64px 0; margin: 32px 0 0; background: #fff; box-shadow: #778 0 0px 7px; }
.post__hr { height: 20px; background: url(post__hr.png) no-repeat; margin: 0 -11px 32px -11px; }
.post__title { margin: 32px 0 4px 0; }
.post__title__userpic { margin: 0 8px 0 -24px; vertical-align: middle; }
.post__subtitle { color: #999; font: 13px/16px 'PT Sans', Calibri, sans-serif; }
.post__subtitle a { color: inherit; border-bottom: 1px solid #bbb; }
.post__subtitle a:hover { color: #c33; border-color: #f66; }

.post__content { padding: 8px 0 16px; color: #000; }

.post__content a { color: hsl(208,60%,50%); }
.post__content a:visited { color: hsl(208,30%,50%); }
.post__content a:hover { color: #c33; }
.post__content a:active { position: relative; top: 1px; }

.post__comments {
    font: 13px 'PT Sans', Calibri, sans-serif;
    display: inline-block; padding: 12px 20px 24px; margin: 0px 0 0 0;
    background: #37C; color: #EFF;
    box-shadow: #15a 1px 1px 2px inset; text-shadow: #15A 0px 1px 0px;
    border-radius: 8px 8px 0 0;
}
.post__comments:hover { background: #48d; }
/* comments */

.comments { background: #eee url(/i/comments_bg.png) top left no-repeat; width: 754px; margin: 0 -64px; padding: 0 64px 0; }
.comments__hr { margin: 32px 0 32px; text-align: center; color: #777; font: 13px/16px 'PT Sans', Calibri, sans-serif; }

.echo-linkColor, a.echo-linkColor, span.echo-linkColor, div.echo-linkColor { color: #37c; }
a.echo-linkColor:hover, .echo-clickable.echo-linkColor:hover { color: #c33; }
.echo-primaryColor { color: #000; }
div.echo-primaryFont, span.echo-primaryFont, input.echo-primaryFont, textarea.echo-primaryFont  { font: 13px 'PT Sans', Calibri, sans-serif; }
div.echo-secondaryColor, input.echo-secondaryColor { color: #999; }
div.echo-secondaryFont { font: 13px/24px 'PT Sans', Calibri, sans-serif; } 

/* comments - stream */

.comments__stream { padding: 72px 0 64px; }
.echo-stream-header, .echo-item-re { display: none; }
div.echo-item-authorName { float: left; color: #999; font: 13px/24px 'PT Sans', Calibri, sans-serif; height: 24px }
div.echo-item-control-delim { float: left; margin: 0 3px; }
div.echo-item-body { padding: 0; font: 16px/24px 'PT Serif', Cambria, serif; }

.echo-stream-body { border: 1px solid #bbb; border-right-width: 2px;}
.echo-item-content { background: #fff; border-bottom: 1px solid #d0d0d0; margin: 0 0; }
.echo-item-content .echo-item-content { background: transparent; border: none; }
div.echo-item-container { padding: 18px 18px 12px; }
div.echo-item-container-root-thread { padding-bottom: 0; }

div.echo-trinaryBackgroundColor { background-color: #e7e7e7; }
div.echo-item-container-child { padding: 12px 12px 4px; }
div.echo-item-replyForm.echo-item-depth-1 { margin-bottom: 22px; padding: 6px; }
div.echo-item-childrenMarker { border-color: transparent transparent #e7e7e7; filter: none; }
div.echo-item-depth-1 { margin: 0 74px 2px; }
div.echo-item-frame { margin: -4px 0 4px; }
div.echo-item-expandChildren { padding: 9px 12px 8px 8px; }

div.echo-application-message { border: none; }
span.echo-application-message-empty { padding: 0; background-image: none; }

/* comments - submit form */

.comments__submit { background: #ddd; padding: 48px 64px; margin: 0 -64px; }
div.echo-submit-body { margin: 6px -1px 7px; }
textarea.echo-submit-text { color: #000; font: 16px/24px 'PT Serif', Cambria, serif; }
.echo-submit-text.echo-secondaryColor { color: #999; font: 13px/16px 'PT Sans', Calibri, sans-serif; }
.echo-submit-border { border-color: #CCC; }
.comments__submit .echo-submit-border { border-color: #aaa; }

div.echo-submit-auth { padding-right: 4px; }
div.echo-submit-auth * { line-height: 24px; }
span.echo-submit-forcedLoginUserInfoMessage { color: #933; line-height: 24px; font-weight: normal; }
div.echo-auth-anonymous { float: right; }
div.echo-auth-name, div.echo-auth-edit, div.echo-auth-logout { font: 13px/24px 'PT Sans', Calibri, sans-serif; margin: 0 0 0 8px; padding: 0; }
div.echo-auth-avatar { height: 24px; }
div.echo-auth-edit { display: none; }
span.echo-auth-or, span.echo-auth-signup { display: none; }

div.echo-submit-header { margin-bottom: 0; }
div.echo-submit-anonymousUserInfoFields { float: none; }
input.echo-submit-anonymousUserInfoUrl { height: auto; }
div.echo-submit-anonymousUserInfoNameContainer,
div.echo-submit-anonymousUserInfoUrlContainer { margin: 0 0 4px 0; padding-left: 6px; }
div.echo-submit-anonymousUserInfoUrlContainer { display: none; }
div.echo-submit-userInfoWrapper .echo-clear { display: none; }
div.echo-submit-anonymousUserInfoAvatar { margin-top: 1px; }

div.echo-submit-content { padding: 0 2px 1px 3px; }
textarea.echo-submit-text { padding: 5px 3px 4px 3px; }
input.echo-submit-text-input { padding: 2px; }

div.echo-submit-controls { margin-top: 6px; }
div.echo-submit-post-container { float: none; }
.echo-button button, .echo-button button.ui-button { 
    padding: 0 12px;
    margin: 0; 
    height: 27px;
    font: 13px 'PT Sans', Calibri, sans-serif; 
    color: #333;
    background: #bfdd47;
    border: 1px solid #999;
    box-shadow: #791 0 1px 0px;
}
.echo-button button.ui-state-default { }
.echo-button button.ui-state-hover, .echo-button button.ui-state-focus { border-color: #68686e; }
.echo-button button.ui-state-active { box-shadow: none; position: relative; top: 1px; }

/* fancybox */

#fancybox-wrap, #fancybox-wrap * { box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -webkit-box-sizing: contetn-box; }

/* tags */

.tags { margin: 24px 0; font: 13px/24px Calibri, 'PT Sans', sans-serif; }
.tags a { font-style: italic }

/* archive */

.archive {}
.archive__hr { height: 20px; background: url(post__hr.png) no-repeat; margin: 0 -11px 32px -11px; }
/*.archive__header { margin: 32px 0 32px; text-align: center; color: #777; font: 13px/16px 'PT Sans', Calibri, sans-serif; }*/
.archive__header { margin: 0 auto; text-align: center; background: url(head.png); width: 210px; height: 60px; background-position: -250px -120px; font: 18px/45px 'PT Sans', Calibri, sans-serif; }
.archive__item   { padding: 24px 64px 32px; margin: 32px 0 0; background: #fff; box-shadow: #778 0 3px 10px; }
.archive__item__header { margin: 0 0 4px; }
.archive__item__subtitle { color: #777; font: 13px/16px 'PT Sans', Calibri, sans-serif; }
.archive__item__subtitle a { color: inherit; border-bottom: 1px solid #bbb; }
.archive__item__subtitle a:hover { color: #c33; border-color: #f66; }

