<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/i/style.v10.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/echorussia" />

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% if page.author %}
        <meta property="og:author" content="{{ page.author }}" />
        <meta property="og:type" content="article" />
    {% endif %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31838600-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div id="page">
        <div class="head">
            {% if page.url == "/index.html" %}
                <div class="head__logo"></div>
            {% else %}
                <a href="/" class="head__logo"></a>
            {% endif %}
            <div class="head__links">
                {% if page.url == "/index.html" %}
                    <span class="head__blog head__blog_selected">Блог</span>
                {% else %}
                    <a href="/" class="head__blog">Блог</a>
                {% endif %}
                {% if page.url == "/jobs.html" %}
                    <span class="head__jobs head__jobs_selected">Вакансии</span>
                {% else %}
                    <a href="/jobs.html" class="head__jobs">Вакансии</a>
                {% endif %}
                <a href="http://feeds.feedburner.com/echorussia" class="head__rss">RSS</a>
            </div>
        </div>
        {{ content }}
    </div>
    
    <script src="http://cdn.echoenabled.com/clientapps/v2/packs/full-pack.js"></script>
    <script src="/i/comments2.js"></script>
</body>
</html>
