<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/i/style-2012-04-25.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="http://cdn.echoenabled.com/clientapps/v2/packs/full-pack.js"></script>
</head>
<body>
    <div id="page">
        <div class="head">
            <h1 class="head__header">
                {% if page.url == "/index.html" %}
                    <div class="head__logo"></div>
                    Echo в России
                {% else %}
                    <a href="/">
                        <div class="head__logo"></div>
                        Echo в России
                    </a>
                {% endif %}
                <a href="/atom.xml" class="head__rss">RSS</a>
            </h1>
        </div>

        {{ content }}
    </div>
</body>
</html>
