---
layout: default
---
<div class="post">
    <h1 class="post__title">{{ page.title }}</h1>
    <div class="post__subtitle">
        Пишет <a href="{{ page.author_url }}">{{ page.author }}</a>,
        {{ page.date | date: "%d.%m.%Y" }}
    </div>
    <div class="post__content">
        {{ content }}
    </div>

    <div class="comments" id="comments">
        <!-- div class="comments__hr">~ Комментарии ~</div -->
        <div class="comments__stream" data-url="{{ site.url }}{{ page.url}}"></div>
        <div class="comments__submit" data-url="{{ site.url }}{{ page.url}}"></div>
    </div>

</div><div class="post__hr"/>

